<!-- Raquib Talukder        -->
<!-- IP Development Project  -->
<!-- addItem.html           -->

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="narrow-jumbotron.css" rel="stylesheet">
  </head>

<div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
	          <li class="nav-item">
              <a class="nav-link active" href="#userHome">Home</a></li>
            <li class="nav-item">
              <a class="nav-link active" href="#addItem">Add</a></li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Logout</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Home</h3>
      </div>

      
	<div class="row">

  <div class="col-md-8 col-sm-8 col-xs-8">
  <input id="txtTitle" name="txtTitle" type="text" ng-model="title" placeholder="Enter Information" class="form-control input-md">
  </div>

  <div class="col-md-4 col-sm-4 col-xs-4">
    <input id="singlebutton" name="singlebutton" class="btn btn-primary" ng-click="addItem(title)" value="Add Task" />
  </div>


</div>
      

      <footer class="footer">
        <p>Forsythe Academy- IP Development</p>
      </footer>

    </div>



